/Zoolirante/.vs
Zoolirante/.vs/ProjectEvaluation/zoolirante.metadata.v9.bin
Zoolirante/.vs/ProjectEvaluation/zoolirante.metadata.v9.bin
Zoolirante/.vs/ProjectEvaluation/zoolirante.projects.v9.bin
Zoolirante/.vs/ProjectEvaluation/zoolirante.metadata.v9.bin
Zoolirante/.vs/ProjectEvaluation/zoolirante.projects.v9.bin
Zoolirante/obj/project.nuget.cache
Zoolirante/obj/Zoolirante.csproj.nuget.dgspec.json
/Zoolirante/.vs
