@model Zoolirante.ViewModels.DefaultViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*Welcome On Login*@
@if (!string.IsNullOrEmpty(Model.username)) {
    <div class="w-100 bg-dark py-1 text-white d-flex justify-content-between fixed-top" style="margin-top: 70px">
        @if (Model.admin == true) {
            <p class="mb-1 fw-light ms-3">Admin Privileges Enabled</p>
        }
        <p class="mb-1 fw-light mx-3">Welcome, @Model.username</p>
    </div>
}

@*Banner*@
<div class="mx-0" style="width: 100vw; text-align: center; margin-bottom: 40px; margin-top: -2px;">
    <img src="/Images/./panda-banner.jpg"
         alt="Banner Image"
         style="width: 100%; height: auto; max-height: 600px; object-fit: contain;">
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4">
            <div class="card card-tickets radius-2">
                <img class="card-img-top radius-2" style="height: 450px" src="/Images/zoo-ticket.png">
                <div class="card-body">
                    <h5 class="card-title"> Be a part of something amazing</h5>
                    <p class="card-text"> Get your tickets now!</p> <br />
                    <a class="btn btn-primary custom-btn-ticket" href="">Buy Now</a>
                </div>
            </div>
         </div>

        <div class="col-sm-4">
            <div class="card card-merchandise radius-2">
                    <img class="card-img-top radius-2" style="height: 450px; object-fit: cover;" src="https://azwp-az-prod-1-ap-southeast-2.s3.amazonaws.com/uploads/2024/03/9249-Where-to-Shop-Web-Assets_updated_TH-elephantasia.jpg" />
                    <div class="card-body">
                    <h5 class="card-title">Gear up in style</h5>
                    <p class="card-text">Get your hands on our limited-edition merchandise before its gone</p>
                    <a class="btn btn-primary custom-btn" href="/Merchandise/Index"> Learn more</a>
                     </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card card-events radius-2">
                <img class="card-img-top radius-2" style="height: 450px; object-fit: cover;" src="https://www.mandai.com/content/dam/mandai/singapore-zoo/things-to-do/zebra-feeding-900x600.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Events </h5>
                    <p class="card-text">Want more than just a visit to the zoo, discover our interesting events and encounters with animals</p>
                     <a class="btn btn-primary custom-btn-event" href=""> Learn more</a>
                </div>
            </div>
        </div>

    </div>
</div>



<section class="animal-page-section" style="margin-top: 40px">


    <div class="description-half">

        <img class="zoosection-image" src="../Images/zoo-banner.png" />

        <p style="margin-top: -20px">
            Zoolirante will be home to a spectacular range of animals from across the globe, including awe-inspiring and endangered species. Stroll through the African Savannah to witness <strong>lions, giraffes, and cheetahs,</strong> wander the lively Primate Boulevard with <strong>gorillas and chimpanzees, </strong>and be captivated by the wildlife of South-East Asia, from <strong>tigers to elephants.</strong> Get closer than ever to Australia’s favourites in our open-range habitat, where kangaroos and wallabies hop freely along the pathways.

        </p>

        <p>
            Proudly Italian-owned and crafted with passion, Zoolirante blends global wildlife with <strong>European flair</strong> to create an unforgettable zoo experience.
        </p>
        <p>
            Come discover why Zoolirante is set to become Australia’s favourite new zoo!
        </p>

        <a class="btn btn-primary radius-2 animalpage-btn"> Tickets &  Memberships</a>

    </div>


    <div class="animal-showcase-half">

        <div class="container-fluid custom-card-section">

            <div class="row">

                <div class="col-sm-5">

                    <div class="card radius-2 lion-card" onclick="window.location.href='/AnimalList/Details/1'" style="cursor: pointer;">

                        <div class="card-body">

                            <div class="card-title custom-title"> Our Animal</div>
                                <div class="card-title custom-header"> Lions</div>
                                <div class="card-text custom-bodytext">
                                “Step into the heart of Zoolirante and feel the ground tremble as our mighty lions roam — rulers of the wild waiting to meet you.”
                                </div>
                        </div>
                        <img class="lioncard-img" src="https://www.freeiconspng.com/thumbs/lion-png/amazing-lion-png-clipart-6.png" />

                    </div>
                   
                </div>

                <div class="col-sm-5">

                    <div class="card radius-2 giraffe-card" onclick="window.location.href='/AnimalList/Details/3'" style="cursor: pointer;">

                        <div class="card-body">
                            <div class="card-title custom-title"> Our Animal</div>
                            <div class="card-title custom-header"> Giraffe</div>
                                <div class="card-text custom-bodytext">
                                “Wander through the treetops with Zoolirante’s graceful giraffes, where every gentle glance and towering stride tells a story of the savannah.”
                                </div>
                            
                        </div> 
                        <img class="giraffecard-img" src="https://www.pikpng.com/pngl/b/97-970776_stock-png-giraffe-head-by-earthymoon-pluspng-giraffe.png" />

                    </div>
                </div>

            </div>
        </div>

        <div> <a class="btn btn-primary radius-2 discovermore-btn" href="/AnimalList/Index">Discover More</a></div>
     
    </div>
 
</section>

<section class="section-map">

    <div class="section-description">

        <div class=" description-map ">

            <h5 class="title"> Explore Zoolirante Through Our Interactive Map</h5>
            <p>
                Our interactive map brings the zoo to online,
                Click on the animals to uncover their stories, and plan your perfect visit with ease.
                Discover fascinating facts, photos, and highlights as you navigate the zoo right from your screen.
            </p>

        </div>

    </div>

    <div class="section-map">

        <div class="map-wrap">
            <a class="pin" href="/AnimalList/Details/4" style="top: 30%; left: 20%; background: rgba(255, 128, 0, .9);">Pandas</a>
            <a class="pin" href="/AnimalList/Details/1" style="top: 56%; left: 68%; background: rgba(255, 128, 0, .9);">Lions</a>
            <a class="pin" href="/AnimalList/Details/3" style="top: 76%;left: 30%;background: rgba(255, 128, 0, .9);">Giraffes</a>
            <a class="pin" href="/AnimalList/Details/5" style="top: 40%; left: 50%; background: rgba(255, 128, 0, .9);">Elephants</a>
            <a class="pin" href="/AnimalList/Details/5" style="top: 95%;left: 64%;background: rgba(255, 128, 0, .9);">Zebras</a>
            <a class="pin" href="/AnimalList/Details/12" style="top: 20%; left: 80%; background: rgba(255, 128, 0, .9);">Polar Bears</a>

        </div>


    </div>

</section>

