@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="">Proudly Italian ran zoo with a rich history of preserving </h5>
</div>

<div style="width: 100%; height: 500px; margin-bottom: 40px;">
    <img src="/Images/Panda-Homepage-Banner-1.jpg" alt="Zoo Image" style="width: 100%; height: 100%; object-fit: cover;">
</div>