@{
    ViewData["Title"] = "Home Page";
}


<div style="width: 100%; text-align: center; margin-top:40px; margin-bottom: 40px;">
    <img src="/Images/./panda-banner.jpg"
         alt="Zoo Image"
         style="width: 100%; max-width: 1500px; height: auto; max-height: 600px; object-fit: contain;">
</div>


<div class="text-center">
    <h1 class="display-4">Welcome to Zoolirante!</h1>
    <p class="lead">Your one-stop destination for all things zoological.</p>
    <a class="btn btn-primary btn-lg" href="/AnimalList" role="button">Explore Animals</a>


 </div>

 <section class="section-map">

     <div class="section-description">

      <div class=" description-map ">

         <h5 class="title"> Explore Zoolirante through our map</h5>
         <p> short description</p>

        </div>

     </div>


     <div class="section-map">

        <div class="map-wrap">
            <a class="pin" href="/AnimalList/Details/4" style="top: 30%; left: 20%; background: rgba(255, 128, 0, .9);">Pandas</a>
            <a class="pin" href="/AnimalList/Details/1" style="top: 56%; left: 68%; background: rgba(255, 128, 0, .9);">Lions</a>
            <a class="pin" href="/AnimalList/Details/3" style="top: 76%;left: 30%;background: rgba(255, 128, 0, .9);">Giraffes</a>
            <a class="pin" href="/AnimalList/Details/2" style="top: 40%; left: 50%; background: rgba(255, 128, 0, .9);">Elephants</a>
            <a class="pin" href="/AnimalList/Details/5" style="top: 95%;left: 64%;background: rgba(255, 128, 0, .9);">Zebras</a>
            <a class="pin" href="/AnimalList/Details/12" style="top: 20%; left: 80%; background: rgba(255, 128, 0, .9);">Polar Bears</a>
            <!-- add more pins... -->
        </div>


     </div>

 </section>


