@{
    ViewData["Title"] = "Home Page";
}


<div style="width: 100%; text-align: center; margin-top:40px; margin-bottom: 40px;">
    <img src="/Images/./panda-banner.jpg"
         alt="Zoo Image"
         style="width: 100%; max-width: 1500px; height: auto; max-height: 600px; object-fit: contain;">
</div></div>

<div class="container-fluid">
<div class="row">

    <div class="col-sm-4">
        <div class="card card-tickets">
            <img class="card-img-top" src="/Images/zoo-ticket.png">
            <div class="card-body">
                <h5 class="card-title"> Be a part of something amazing</h5>
                <p class="card-text"> Get your tickets now!</p>
                <a class="btn btn-primary custom-btn-ticket" href=""> Buy Now</a>

            </div>
        </div>
     </div>

    <div class="col-sm-4">
    <div class="card card-merchandise">
            <img class="card-img-top" src="https://azwp-az-prod-1-ap-southeast-2.s3.amazonaws.com/uploads/2024/03/9249-Where-to-Shop-Web-Assets_updated_TH-elephantasia.jpg" />
            <div class="card-body">
            <h5 class="card-title">Gear up in style</h5>
            <p class="card-text">Get your hands on our limited-edition merchandise before its gone</p>
            <a class="btn btn-primary custom-btn" href="/Merchandise/Index"> Learn more</a>
             </div>
    </div>
    </div>
 



    <div class="col-sm-4">
    <div class="card card-events">
        <img class="card-img-top" src="https://www.mandai.com/content/dam/mandai/singapore-zoo/things-to-do/zebra-feeding-900x600.jpg" />
        <div class="card-body">
            <h5 class="card-title">Events </h5>
            <p class="card-text">Want more than just a visit to the zoo, discover our interesting events and encounters with animals</p>
             <a class="btn btn-primary custom-btn-event" href=""> Learn more</a>

        </div>
    </div>
    </div>

</div>
</div>

