


.hover-grow {
    transition: transform 0.3s ease;
}

.hover-grow:hover {
    transform: scale(1.02);
}

.hover-tint {
    position: relative;
    transition: 0.3s ease;
}

.hover-tint::after {
    content: "";
    position: absolute;
    inset: 0; 
    background: rgba(255, 132, 56, 0.5); 
    border-radius: 2rem;
    z-index: 1;
}

.hover-tint:hover {
    opacity: 90%;
}




.bg-zoolirante {
/*    background-color: rgb(255, 132, 56);*/
    background-color: #FF8C42;
}

.text-zoolirante {
    color: rgb(255, 132, 56);
}

.bg-zoolirante-secondary {
    background-color: rgb(250, 236, 209);
}

.text-zoolirante-secondary {
    color: rgb(250, 236, 209);
}

.radius-2 {
    border-radius: 2rem;
}


.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-brand {
    max-height: 10px;
    width: auto;
}


.section-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    width: 100%;
    font-family: Arial;
    
}

.section-description {
    margin-top: 80px;
    margin-left: 200px;
    text-align: center;
    font-size: 30px;
}

.title{

    margin-top:10px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial;
}

.map-wrap {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    aspect-ratio: 16/9; 
    margin: 40px auto;
    background: url('/Images/ZOOMAP.png') center/contain no-repeat;
}

.pin {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    background: rgba(255, 128, 0, .9);
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    /* optional: improve tap targets on mobile */
    font-size: 0.95rem;
}