@* @model Zoolirante.ViewModels.AccountViewModel *@

@{
    ViewData["Title"] = "Zoo Membership";
}
<head>
    <link rel="stylesheet" href="~/css/MembersPage.css" />
</head>

<div class="w-100 bg-dark py-5 text-white text-center" style="margin-top: -2px">

    <h1>Zoolirante membership</h1>

</div>

<div class="mx-0" style="width: 100vw; text-align: center; margin-bottom: 40px; margin-top: -2px;">
    <img src="https://azwp-az-prod-1-ap-southeast-2.s3.amazonaws.com/uploads/2025/06/10160_AZ_Website_ZK4D_Image_Updates_2240-x-700.jpg"
         alt="Banner Image"
         style="width: 100%; height: auto; max-height: 500px; object-fit: contain;">


<div class="membership-banner">
      <h2 style="margin-top: -20px">
            Become a Zoolirantee!!
      </h2>
       <p style="font-size:20px;">
            Become A Zoolirante regular and enjoy a yearly wildlife experience and adventure with our furry friends!!.
            By purchasing the Zoolirante membership and get multiple benefits. This membership pays for itself after your fifth visit to Zoolirante.
            50% of the membership of our revenue goes into donating to wildlife relief.
        </p>
</div>
</div>

<div>
    <h2>
         Zoolirante offers Unlimited Pack memberships:
    </h2>
    </div>

<div class="Membership-List">
    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-4">
                
                <div class="card radius-2 Family-Pack-card"style="cursor: pointer;">
                    <img class="FamilyPackCard-img" src="https://media.istockphoto.com/id/485775428/photo/family-feeding-giraffe-in-a-zoo.jpg?s=612x612&w=0&k=20&c=dsFeFVCNjsrzdsvzosSpCyXMsM3vvj4JaONQHw0mZ_8=" />
                    <div class="card-body">
                        <div class="card-title custom-title">Adult(ages 16+) Unlimited Pack</div>
                        <div class="card-price">Price starting from $59.98</div>
                        <div class="card-text custom-bodytext">
                            A 12 month unlimited zoo fun time at Zoolirante. Members can get 20% or more discount at Zoolirante merchandise shop and free parking.
                        </div>
                        <div>
                            <a class="card-btn btn-primary radius-2 GetMembership" href="/Tickets/Index">Get membership</a>
                        </div>
                        </div>
                    </div>
               

            </div>

            <div class="col-sm-4">
                
                <div class="card radius-2 Couples" style="cursor: pointer;">
                    <img class="FamilyPackCard-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6bREYb96GzqnmBCX8tya98uIkyd157dgkhA&s"/>
                    <div class="card-body">


                        <div class="card-title custom-title">Child(3-15) Unlimited Pack</div>
                        <div class="card-price">
                            Price starting from $28.98
                        </div>
                        <div class="card-text custom-bodytext">
                            A 12 month unlimited zoo fun time for your children.Members can get a 20% discount at the Zoolirante mechandise shop.
                        </div>
                        <div>
                            <a class="card-btn btn-primary radius-2 GetMembership" href="/Tickets/Index">Get membership</a></div>
                        </div>

                    </div>
                </div>

            <div class="col-sm-4">
                
                <div class="card radius-2 Couples" style="cursor: pointer;">
                    <img class="FamilyPackCard-img" src="https://thumbs.dreamstime.com/b/seniors-together-feed-sheep-farm-zoo-seniors-feed-sheep-together-zoo-197560610.jpg"/>
                    <div class="card-body">
                        <div class="card-title custom-title">Concession Unlimited Pack</div>
                        <div class="card-price">
                            Price starting from 36.98
                        </div>
                        <div class="card-text custom-bodytext">
                            A 12 month Zoolinrante membership for students,seniors and concession holders. Enjoy a 10% discount at Zoolirante Merchandise shop and free parking. 
                        </div>
                        <div>
                            <a class="card-btn btn-primary radius-2 GetMembership" href="/Tickets/Index">Get membership</a>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div>
    <h1>Membership comparsions table</h1>
    <table class="table table-bordered" style="border: 1px grey;">
    <thead>
        <tr class="table-row">
                <th class="table-coloum" scope="col" style="background-color: whitesmoke;">Benefits</th>
                <th class="table-family" scope="col" style="background-color:  cornsilk;">Adult(ages 16+) Unlimited Pack</th>
                <th class="table-Couples" scope="col" style="background-color: bisque;">Child(3-15) Unlimited Pack</th>
                <th class="table-Concession" scope="col" style="background-color: antiquewhite;">Concession Unlimited Pack</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-body-row">
            <th class="table-body-col">Unlimited access to Zoolirante Zoo anytime of the year</th>
                <td class="table-family">✔</td>
                <td class="table-Couples">✔</td>
                <td class="table-Concession">✔</td>
        </tr>
        <tr class="table-body-row">
                <th class="table-body-col">Free parking at Zoolirante Zoo</th>
                <td class="table-family">✔</td>
                <td class="table-Couples">✔</td>
                <td class="table-Concession">✔</td>
         </tr>
            <tr class="table-body-row">
                <th class="table-body-col">20% discount on Zoolirante merchandise store</th>
                <td class="table-family">✔</td>
                <td class="table-Couples">✔</td>
                <td class="table-Concession">✖</td>
            </tr>
            <tr class="table-body-row">
                <th class="table-body-col">10% discount on Zoolirante merchandise store</th>
                <td class="table-family">✖</td>
                <td class="table-Couples">✖</td>
                <td class="table-Concession">✔</td>
            </tr>
            <tr class="table-body-row">
                <th class="table-body-col">Free one icecream at Zoolirante </th>
                <td class="table-family">✖</td>
                <td class="table-Couples">✔</td>
                <td class="table-Concession">✖</td>
            </tr>
            <tr class="table-body-row">
                <th class="table-body-col">Free entry for children below 5 years of age </th>
                <td class="table-family">✔</td>
                <td class="table-Couples">✔</td>
                <td class="table-Concession">✔</td>
            </tr>

    </tbody>
</table>


</div>









