@* @model Zoolirante.ViewModels.AccountViewModel *@

@{
    ViewData["Title"] = "Zoo Membership";
}

<div class="w-100 bg-dark py-5 text-white text-center" style="margin-top: -2px">

    <h1>Zoolirante membership</h1>

</div>

<div class="mx-0" style="width: 100vw; text-align: center; margin-bottom: 40px; margin-top: -2px;">
    <img src="https://azwp-az-prod-1-ap-southeast-2.s3.amazonaws.com/uploads/2025/06/10160_AZ_Website_ZK4D_Image_Updates_2240-x-700.jpg"
         alt="Banner Image"
         style="width: 100%; height: auto; max-height: 500px; object-fit: contain;">
</div>

<div>

    <h2 style="font-size:27px;">
        Become a Zoolirantee!!
    </h2>

    <p style="font-size:20px;">
        Become A Zoolirante regular and enjoy a yearly wildlife experience and adventure with our furry friends!!.
    </p>
    <p style="font-size:20px;">
        By purchasing the Zoolirante membership and get multiple benefits. This membership pays for itself after your fifth visit to Zoolirante.
        50% of the membership of our revenue goes into donating to wildlife relief.
    </p>

</div>
<div>
    <p>
        Zoolirante offers various memberships:
    </p>
    <table>
        <tr>
            <th> Zoolirante membership type </th>
            <th> Price</th>
        </tr>
        <tr>
            <th>Family pack</th>
            <th>$200.99 </th>
        </tr>
        <tr>
            <th>Couples</th>
            <th>$140.99</th>
        </tr>
        <tr>
            <th>Concession</th>
            <th>$100.99</th>
        </tr>
        <tr>
            <th>Children pass (Ages 3- 15)</th>
            <th>$60.99</th>
        </tr>
        <tr>
            <th>Infants</th>
            <th>Free!!</th>
        </tr>
    </table>


</div>
<div class="member-price-list">
    <div class="row">
        <div class="card">
            <div class="container">
                <h4><b>Family pack</b></h4>
                <p>$200.99/year</p>
                <p></p>

            </div>
        </div>
    </div>

</div>





