@* @model Zoolirante.ViewModels.AccountViewModel *@

@{
    ViewData["Title"] = "Zoo Membership";
}

<div class="w-100 bg-dark py-5 text-white text-center" style="margin-top: -2px">

    <h1>Zoolirante membership</h1>

</div>

